.timeline-icon.green {
  background-color: #59bf51;
}

.timeline-icon.red {
  background-color: #bf413e;
}

.timeline-icon.grey {
  background-color: #999;
}

/* Define new color options like so:
.timeline-icon.yourcolorhere {
  background-color: #hexcolor
}
*/

header.page-header,
footer.page-footer {
  background-color: #005289;
}